{
  // Options: https://babeljs.io/docs/en/babel-preset-env#options

  // environment specified via BABEL_ENV env var
  "env": {
    "build": {
      "presets": [
        ["@babel/preset-env", {
          "modules": false,
          "targets": {
            "browsers": "last 1 versions, > 0.2%, not dead, current node, node 10, node 8"
          }
        }]
      ],
      "plugins": []
    },

    "test": {
      "presets": [
        ["@babel/preset-env", {
          "modules": "commonjs"
        }]
      ],
      "plugins": [
        "istanbul"
      ]
    }
  }
}
