{
  "require": [
    "@babel/register"
  ],
  "sourceMap": false,
  "instrument": false,
  "include": [
    "src/**/*.js"
  ],
  "check-coverage": true,
  "per-file": true,
  "lines": 100,
  "statements": 100,
  "functions": 100,
  "branches": 100,
  "report-dir": "./coverage",
  "reporter": [
    "text",
    "text-summary",
    "json-summary",
    "html"
  ]
}
