//// src ESLint Configuration \\\\

{
  "extends": ["../.eslintrc"],
  "env": {
    // don't assume any environment since this library is isomorphic
    "browser": false,
    "node": false
  },
  "globals": {
    // safe assumptions
    "console": true
  }
}
